<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Rubro</th>
                        <th>Imagen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in catalog">
                        <td>{{item.$id}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.stock}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.image}}</td>
                        <td><a href="#/item/{{item.$id}}" class="btn btn-small btn-primary">Editar</a>
                            <a href="" class="btn btn-small btn-danger" ng-click="removeItem(item.$id)">Eliminar</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <p>
                    <a href="#/item" class="btn btn-success" role="button">Agregar nuevo</a>
                </p>

            </div>
        </div>
    </div>
</div>
