<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="page-header">
            <h1>Sistema de Administración de Pedidos de Farmacias</h1>
            <hr>
            <p>Gracias por acceder a la pagina web del Sistema de Administración de Pedidos de Farmacias, desde aqui
                usted podrá administrar los pedidos de las farmacias.</p>
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-primary o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-users"></i>
                </div>
                <div class="mr-5">
                    Usuarios
                </div>
            </div>
            <a href="#" class="card-footer clearfix small z-1">
                <span class="float-left">Lista</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-danger o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-plus-square"></i>
                </div>
                <div class="mr-5">
                    Farmacias
                </div>
            </div>
            <a href="#/pharmacies/" class="card-footer clearfix small z-1">
                <span class="float-left">Lista</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-success o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">
                    Pedidos
                </div>
            </div>
            <a href="#" class="card-footer clearfix small z-1">
                <span class="float-left">Lista</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card card-inverse card-warning o-hidden h-100">
            <div class="card-block">
                <div class="card-block-icon">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">
                    Catálogo
                </div>
            </div>
            <a href="#" class="card-footer clearfix small z-1">
                <span class="float-left">Lista</span>
                <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>

</div>
